# Backend
flask-backend/config-files/*
!flask-backend/config-files/logger.ini
flask-backend/logs
flask-backend/uploaded-files

# Frontend
react-frontend/node_modules
react-frontend/build
react-frontend/package-lock.json
react-frontend/.eslintcache

# Datasets
datasets

# Database rapport
/sql/rapport/DatabaseSchemeTeam6.aux
/sql/rapport/DatabaseSchemeTeam6.dvi
/sql/rapport/DatabaseSchemeTeam6.log
/sql/rapport/DatabaseSchemeTeam6.out
/sql/rapport/DatabaseSchemeTeam6.synctex.gz
/sql/rapport/DatabaseSchemeTeam6.toc

# Other
__pycache__
.idea
env