# config files
src/config/*
!src/config/__init__.py
!src/utils/configParser.py
!src/config/logger.ini

# logs
logs

# react
react-frontend/node_modules
react-frontend/build

# datasets
datasets
src/uploaded-files

# Database rapport
/sql/DatabaseSchemeTeam6.aux
/sql/DatabaseSchemeTeam6.dvi
/sql/DatabaseSchemeTeam6.log
/sql/DatabaseSchemeTeam6.out
/sql/DatabaseSchemeTeam6.synctex.gz
/sql/DatabaseSchemeTeam6.toc

# Other
datasets/*
__pycache__
.idea
env
react-frontend/package-lock.json
/react-frontend/.eslintcache