<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Next Website</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='AdminAccount.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<!--Header-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="{{ url_for('main') }}" id="navbar__logo"> <img class = logo src="images/Image1.png" alt="pic"></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__btn">
                    <a href="" class="button">Setup</a>
                </li>
                <li class="navbar__btn">
                    <a href="{{ url_for('adminacc') }}" class="button">Account</a>
                </li>
            </ul>
        </div>
    </nav>

<!--Footer-->
    <div class="footer">
        <li  class = contact>
            <a href="{{ url_for('contact') }}" class = contact_links>Contact</a>
        </li>
        <p class="names">Said Yandarbiev, Mohammed Shakleya, William Steklein, Sam Roggeman, Jorden Van Handenhoven </p>
    </div>
    <img class="image" src="images/Image2.png" alt="pic" id="footer">

<!--UserAccount-->
    <div class="Contact">
        <label class="info">Info</label>
        <div class="Big_Rectangle" style="width:250px;height:130px;border:1px solid #000;">
            <label class="Fn">First name: ...</label>
            <label class="Ln">Last name: ...</label>
            <label class="Email">Email: ...</label>
        </div>
        <a href="" class="button1">Change info</a>
        <a href="{{ url_for('main') }}" class="button2">Log out</a>


        <label class="dataset">Datasets</label>
        <a href="" class="adddata">Add dataset</a>

    </div>

    <script src = "../static/app.js"></script>
</body>
</html>