<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{{app_data['app_name']}}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">

    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='functions.js') }}"></script>
</head>
<div class="row no-gutters text-center">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">

            <div class="row no-gutters text-center">
                <div class="col-6">
                    <label for="start">Start:</label>
                    <input type="date" class="form-control" id="start" placeholder="Enter Start">
                </div>
                <div class="col-6">
                    <label for="end">End:</label>
                    <input type="date" class="form-control" id="end" placeholder="Enter End">
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
            <div class="row no-gutters text-center">
                <div class="col-6">
                    <label for="interval">Interval:</label>
                    <input type="number" class="form-control" id="interval" placeholder="Enter interval">
                </div>
                <div class="col-6">
                    <label for="trainingsinterval">Trainingsinterval:</label>
                    <input type="number" class="form-control" id="trainingsinterval" min="1"
                           placeholder="Enter trainings-interval">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center align-items-center offset-lg-1">
        <div class="col-6">
            <label for="stepsize">Step size:</label>
            <input type="number" class="form-control" id="stepsize" min="1"
                   placeholder="Enter trainings-interval">
        </div>
        <div class="col-6">
            <label for="topk">Top-K:</label>
            <input type="number" class="form-control" id="topk" min="1"
                   placeholder="Enter trainings-interval">
        </div>
    </div>
    <br>
    <div class="row text-center align-items-center offset-lg-1">
        <div class="col-4">
            <div class="form-group">
                <label for="algorithm1">Algorithm A</label>
                <select class="form-control" id="algorithm1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="col-4 text-center">
            <button class="btn btn-secondary btn-lg" type="reset">Reset</button>
            <button class="btn btn-success btn-lg" type="submit">Start</button>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="algorithm2">Algorithm B</label>
                <select class="form-control" id="algorithm2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
    </div>
<body>