<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Next Website</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Contact.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<!--Header-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="{{ url_for('main') }}" id="navbar__logo"> <img class = logo src="{{ url_for('static', filename='Image1.png') }}" alt="pic"></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__btn">
                    <a href="{{ url_for('sign_in') }}" class="button">Log in</a>
                </li>
                <li class="navbar__btn">
                    <a href="{{ url_for('sign_up') }}" class="button">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

<!--Footer-->
    <div class="footer">
        <li  class = contact>
            <a href="{{ url_for('contact') }}" class = contact_links>Contact</a>
        </li>
        <p class="names">Said Yandarbiev, Mohammed Shakleya, William Steklein, Sam Roggeman, Jorden Van Handenhoven </p>
    </div>
    <img class="image" src="{{ url_for('static', filename='Image2.png') }}" alt="pic" id="footer">

<!--Contact-->
    <div class="Contact">
        <div class="Big_Rectangle" style="width:350px;height:400px;border:1px solid #000;">
            <p class="Contact_us">Contact us</p>
            <input class="text1" type="text" placeholder="Enter name" id="fname1" name="fname1"><br><br>
            <input class="text2" type="text" id="fname2" placeholder="Enter email" name="fname2"><br><br>
            <textarea class="text3" type="text" id="fname3" placeholder="Type your question/comment" name="fname3"></textarea>
            <li class="Submit_btn">
                <a href="" class="button1">Submit</a>
            </li>
        </div>
    </div>

    <script src = "../static/app.js"></script>
</body>
</html>