<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Next Website</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Sign_Up.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!--Header-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="{{ url_for('main') }}" id="navbar__logo">
                <img class = logo src="{{ url_for('static', filename='Image1.png') }}" alt="pic"></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__btn">
                    <a href="{{ url_for('sign_in') }}" class="button">Log in</a>
                </li>
                <li class="navbar__btn">
                    <a href="{{ url_for('sign_up') }}" class="button">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
<!--Footer-->
    <div class="footer">
        <li  class = contact>
            <a href="{{ url_for('contact') }}" class = contact_links>Contact</a>
        </li>
        <p class="names">Said Yandarbiev, Mohammed Shakleya, William Steklein, Sam Roggeman, Jorden Van Handenhoven </p>
    </div>
    <img class="image" src="{{ url_for('static', filename='Image2.png') }}" alt="pic" id="footer">

<!--Sign_Up-->
    <div class="Big_Rectangle" style="width:350px;height:375px;border:1px solid #000;">
        <label class="sign_up">Sign up</label>
            <form action="{{ url_for('sign_up') }}" method="post" autocomplete="off">
                <div class="boxes">
                    <input name="username" class="text1" style="width:250px;height:30px;" type="text" placeholder="Username" required><br><br>
                    <input name="email" class="text2" style="width:250px;height:30px;" type="email"   placeholder="Email" required><br><br>
                    <input name="password" class="text3" id="myInput" style="width:250px;height:30px;" type="password" placeholder="Password" required ><br><br>
                    <input name="rewrite_password" class="text4" id="myInput1" style="width:250px;height:30px;" type="password" placeholder="Rewrite password" required><br><br>
                </div>
                <li class="sign_up__button" >
                    <a href="{{ url_for('sign_up') }}" class="button1">Sign up</a>
                </li>
            </form>
        <div class="checkboxes">
            <input class="checkbox1" type="checkbox" onclick="myFunction()">Show password<br><br>
        </div>
        <div class="noacc">
            <label>Already have an account? </label>
            <a href="{{ url_for('sign_in') }}">Sign In!</a>
        </div>


    </div>

    <script src = "app.js"></script>
</body>
</html>