<html>
<head>
	<title>{{app_data['app_name']}}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">

	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
</head>
<body>
	{% include 'header.html' %}

    <h1>Https github webhook test...</h1>

    <br>

    {% include 'footer.html' %}
</body>
</html>
