[Unit]
Description=Celery worker for the webapp api
After=network.target

[Service]
User=app

Group=www-data

WorkingDirectory=/home/app/Programming-project-databases/flask-backend
Environment="PATH=/home/app/Programming-project-databases/env/bin"
ExecStart=celery -A src.worker worker -l INFO
Restart=on-failure

[Install]
WantedBy=multie-user.target