[Unit]
Description=Gunicorn instance to serve the webapp api
After=network.target

[Service]
User=app

Group=www-data

WorkingDirectory=/home/app/Programming-project-databases/flask-backend/src
Environment="PATH=/home/app/Programming-project-databases/env/bin"
ExecStart=gunicorn wsgi:app --worker-class eventlet -w 1 -b unix:webapp3.sock -m 007
Restart=on-failure

[Install]
WantedBy=multie-user.target