[Unit]
Description=Celery worker for the webapp backend
After=network.target

[Service]
User=app

Group=www-data

WorkingDirectory=/home/app/Programming-project-databases
Environment="PATH=/home/app/Programming-project-databases/env/bin"
ExecStart=/home/app/Programming-project-databases/env/bin/celery -A src.celeryTasks.tasks worker -l INFO
Restart=on-failure

[Install]
WantedBy=multie-user.target