.datatable {
    height: 700px;
    padding: 20px;
}

.datatable .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable .cellWithImg {
    display: flex;
    align-items: center;
}

.datatable .cellWithImg .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.datatable .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
}

.datatable .Active {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}

.datatable .Inactive {
    color: crimson;
    background-color: rgba(255, 0, 0, 0.05);
}

.datatable .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
}

.datatable .cellAction .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
}