@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
    height: 100%;
}

.body-paragraph {
    color: #7f7f7f;
    font-weight: 500;
}

.body-header {
    color: #12375c;
    font-size: 250%;
    font-weight: 500;
}

.footer-text {
    color: #12375c;
    min-font-size: 1vh;
    max-font-size: 3vh;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.content {
    height: 70vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flexible {
    display: flex;
    margin-right: 10px;
}

.button-purple {
    background: rgba(119, 52, 231);
    color: #fff;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;

}


.orange-hover:hover {
    background: #cc4f0e;
    transition: all 0.3s ease;
}

.red-hover:hover {
    background: #e80f0f;
    transition: all 0.3s ease;
}

.green-hover:hover {
    background: #0bcc62;
    transition: all 0.3s ease;
}

.bg-purple {
    background: rgba(216, 196, 252, 1);
}

.bg-lightpurple {
    background: rgb(214, 203, 248);
}

.border-dark {
    border-color: #7734E7FF !important;
}

/*.footer {*/
/*    max-height: 5vh;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    background: rgba(216, 196, 252, 1);*/
/*    text-align: center;*/
/*}*/

.contact {
    padding: 1px 20px 2px 10px;
    /* margin-left: auto;
    margin:0px; */
    position: fixed;
    right: 0;
    text-align: right;
    list-style: none;
    color: #12375c;
    bottom: 7px
}

.contact_links {
    text-decoration: none;
    color: #12375c;
}

.footer-image {
    /*    max-width: 100%;*/
    /*    max-height: 20px;*/
    /*    width: auto;*/
    /*    height: auto;*/
    /*}*/
    padding: 0.25rem;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.names {
    position: absolute;
    left: 120px;
    bottom: 5px;
    padding: 1px 20px 2px 10px;
    margin: 0px;
    text-align: right;
    list-style: none;
    color: #12375c;

}

/*Contact*/
.Contact_Rectangle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(119, 52, 231, .3);
    border-radius: 15px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    border: 1px solid #000;
}

.Contact_us {
    position: fixed;
    top: 5%;
    left: 28%;
    color: #12375c;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact_name {
    position: fixed;
    transform: translate(20%, 250%);
    height: 30px;
    width: 250px;
    resize: both;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 1rem;
}

.contact_email {
    position: fixed;
    transform: translate(20%, 400%);
    height: 30px;
    width: 250px;
    resize: both;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 1rem;
}

.contact_text {
    position: fixed;
    transform: translate(20%, 170%);
    height: 100px;
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 1rem;
    resize: none;
}

.contact-Submit-btn {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.image1 {*/
/*    object-fit: fill;*/
/*    !*display: block;*!*/
/*    !*max-width: 100%;*!*/
/*    !*max-height: 100%;*!*/
/*    width: max-content;*/
/*    !*height: auto;*!*/
/*}*/
.vh-2 {
    height: 2vh;
}

/*Account*/

.Account_Rectangle {
    position: absolute;
    top: 35%;
    left: 13%;
    transform: translate(-50%, -50%);
    background: rgba(119, 52, 231, .3);
    border-radius: 15px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.246);
}

.info {
    position: absolute;
    left: 5%;
    top: 20%;
    font-size: 30px;
    color: #12375c;

}

.Fn {
    position: fixed;
    left: 10%;
    top: 15%;
    color: #12375c;
}

.Ln {
    position: fixed;
    left: 10%;
    top: 35%;
    color: #12375c;
}

.Email {
    position: fixed;
    left: 10%;
    top: 55%;
    color: #12375c;
}

.Change_Info {
    display: flex;
    position: absolute;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 15px;
    left: 5%;
    top: 45%;
}

.Log_Out {
    display: flex;
    position: absolute;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 15px;
    left: 5%;
    top: 55%;
}



* {
    margin: 0;
    font-family: "Quicksand", serif;
    color: #333;
}



.maxwidth-250 {
    max-width: 250px;
}


.clear {
    clear: both;
    height: 100px;
}

.purple-color {
    border-bottom-color: rgba(214, 203, 248) !important;
    border-top-color: rgba(214, 203, 248) !important;
    border-left-color: rgba(119, 52, 231) !important;
}